* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(250, 250, 250);
}

/*nav css*/
.navmenu {
  display: flex;
  background-color: rgb(46, 42, 42);
  font-size: 1.2em;
  padding: 2px 2px;
  width: 100%;
  justify-content: space-evenly;
}

.divul-pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.divul-pages li {
  display: inline;
}

.navmenu li a {
  text-decoration: none;
  color: rgb(243, 243, 243);
  padding: 1rem;
}

.navmenu li:hover {
  background-color: rgb(77, 77, 77);
}
.navmenu .header:hover {
  background-color: rgb(77, 77, 77);
}
.header a {
  text-decoration: none;
  color: rgb(243, 243, 243);
}
.material-icons {
  color: rgb(114, 102, 102);
}
.wrapcontent {
  min-height: 100vh;
}

.testp {
  background-color: rgb(184, 15, 226);
}

@media screen and (max-width: 648px) {
  .line {
    width: 25px;
    height: 2.25px;
    background-color: rgb(243, 243, 243);
    margin: 2.5px;
  }
  nav {
    position: relative;
    height: 1.5vh;
  }
  .ham {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 30%;
  }
  .divul-pages {
    position: fixed;
    color: rgb(171, 171, 189);
    height: 60%;
    width: 100%;
    flex-direction: column;
    display: none;
  }
  .aside-text > div {
    width: fit-content;
    font-size: 80%;
  }
  .main-content {
    width: 80%;
    font-size: 85%;
    flex-wrap: wrap;
  }
  .content-p4 > div {
    font-size: 80%;
  }

  footer {
    width: 100%;
    font-size: 12px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .content-p2 {
    font-size: 85%;
  }
  .galleria > img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .navmenu {
    font-size: 1.1em;
  }
}

.content-p4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 15px;
}
.about-content {
  font-size: 20px;
}
.hobby-content {
  padding: 50px;
}
/* sida 1*/
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.main-content h4 {
  text-decoration: underline;
}
.main-content h2 {
  background-color: palegoldenrod;
}
.aside-text > div {
  font-style: oblique;
  padding: 5px;
  text-align: center;
}
.tips-spel1 {
  max-width: 360px;
  border: solid black 2px;
  padding: 4px;
}
.tips-bok {
  max-width: 360px;
  border: solid black 2px;
  padding: 4px;
}
.tips-serier {
  max-width: 360px;
  border: solid black 2px;
  padding: 4px;
}
.tips-växter {
  max-width: 360px;
  border: solid black 2px;
  padding: 4px;
}

/* sida 2 */
.content-p2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 180px;
}
.aside-artiklarmeny {
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.aside-artiklarmeny > div {
  background-color: khaki;
  margin: 20px;
  font-style: oblique;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

article {
  background-color: white;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.article-block {
  padding: 10px;
}

.galleria {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px;
}
.galleria > div > img {
  width: 400px;
  height: 475px;
  object-fit: cover;
  border: 6px solid rgba(126, 80, 103, 0.94);
  margin: 5px;
  cursor: pointer;
}
.galleria > div > img:hover {
  opacity: 0.7;
}

.popupwindow {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transition: 1s;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 98%;
  max-width: 1700px;
  max-height: 900px;
  border-radius: 15px;
  background-color: rgba(58, 9, 34, 0.95);
  display: none;
  z-index: 1;
}

.popupwindow p {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 2.2rem;
  color: rgb(247, 241, 241);
  font-size: 22px;
  padding: 2px;
  z-index: 1;
}
.popupwindow img {
  position: absolute;
  top: 55%;
  left: 50%;
  height: 85%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(224, 217, 217);
  object-fit: cover;
}
.close-btn {
  position: absolute;
  top: 1rem;
  left: 95%;
  padding: 7px 7px;
}

/* form contact sida */

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/ladycindypic.jpg") no-repeat center;
  background-size: cover;
  z-index: -1; /* bakgrundsbild går ej över footer nu*/
}

.contact-box {
  max-width: 400px;
  text-align: center;
  padding-bottom: 50px;

  background-color: rgb(32, 32, 32, 0.7);
}

.field {
  width: 80%;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.butt {
  width: 50%;
  padding: 10px;
  font-size: 100%;
  background-color: rgb(221, 221, 221);
  border: none;
  outline: none;
  cursor: pointer;
}
/* Enskild sida för en artikel*/
.blog-enskild-artikel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 30px;
}
.recept-st2 > p {
  padding-left: 50px;
}
.upload-page {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.upload-form {
  display: flex;
  flex-direction: column;
}
#uploadtitle {
  width: 50%;
}
#uploaddesc {
  height: 100px;
  width: 100%;
}
.blogpostspage {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 238, 191);
}
.blogpost {
  margin: 10px;
  margin-left: 1000px;
  margin-right: 1000px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.eachpost {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postbuttons {
  display: flex;
}
.postdiv {
  padding: 20px;
}
.updatebtn {
  display: flex;
  justify-content: flex-end;
}

/* footer css*/

footer {
  display: grid;
  bottom: 0;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(46, 42, 42);
  color: rgb(243, 243, 243);
}
footer li {
  list-style-type: none;
}
footer a {
  color: rgb(194, 194, 194);
}
footer a:hover {
  color: white;
}
